<!--
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p> -->

<!-- <%= @fromAddress %> -->

<meta http-equiv="refresh" content="0; url= <%= @linked%>" />
<p> If page does not redirect, please follow link below <p>
<a href= <%= @linked %>> Your Shipping Link </a>
<br>
<br>
<br>
<br>
<br>
<br>
<p> "It's my mail, it's now or never; I ain't gonna ship forever..." -Anonymous
