<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.name %></td>
      <td><%= article.city %></td>
      <td><%= article.state %></td>
      <td><%= article.zip %></td>
      <td><%= article.phone %></td>

      <td><%= article.tname %></td>
      <td><%= article.tcompany %></td>
      <td><%= article.tstreet %></td>
      <td><%= article.tcity %></td>
      <td><%= article.tstate %></td>
      <td><%= article.tzip %></td>

      <td><%= article.length %></td>
      <td><%= article.width %></td>
      <td><%= article.height %></td>
      <td><%= article.weight %></td>

      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>
